body {
  background-color: #995BD5;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}

/* Layout container: horizontally centered */
.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 20px;
}

.controls {
  margin-bottom: 20px;
  
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}


.controls label {
  font-size: 16px;
  color: white;
}

input[type="number"],
select {
  margin-left: 8px;
  margin-top: 15px;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

button {
  padding: 15px 30px;
  background-color: #491A74;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px #491A74;
  }

.plinko-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pegs {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 40px; /* wider peg spacing */
}

.peg {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.slots {
  display: flex;
  justify-content: center;
  gap: -20px; /* match peg spacing */
  margin-top: -30px;
}

.slot {
  width: 50px;
  height: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.slot-label {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.slot-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.staggered-slots {
  margin-left: 0px; /* offset to land between last row of pegs */
}

input.pure-input-rounded {
  margin-top: 10px;
  margin-bottom: -40px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.drop-ball-button {
  background-color: #491A74;
  color: white;
  padding: 25px 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 45px;
  cursor: pointer;
  border: none;
}

.drop-ball-button:hover {
  background-color: #BF99F2; /* optional hover effect */
}

.winnings-display {
  min-width: 180px;
  padding: 10px;
  background-color: #7c40a9;
  border-radius: 10px;
  box-shadow: 0 0 10px #5d2e91;
  text-align: center;
}

.winnings-display h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.winnings-display p {
  font-size: 24px;
  font-weight: bold;
  color: #39ff14;
}